/*  */
body {
	font-family: 'Arimo', sans-serif !important;
	font-size: 14px !important;
	color: #767676;
}
header{
    background: #f7f7f7;
}
/* Header top */
.top {
	height: 95px;
	display: flex;
    align-items: center;
}
.top form{
	display: flex;
    align-items: center;
    margin-left: auto;
}
.top img {
	width: 200px;
	height: 50px;
}
.top ul{
	list-style-type: none;
	margin-bottom: 0 !important;
	font-size: 1.286rem;
}
.top button,.modal-body button {
	color: #fff;
    border: none;
    float: right;
    background: #282c37;
    width: 120px;
    height: 35px;
    margin-left: 25px;
}
/* Header top > feedback */
.modal-content {
	border-radius: 0 !important;
}
.close-modal {
	height: 25px;
    width: 25px;
    background: #fff;
    border: 0;
    opacity: 1;
    position: absolute;
    right: -25px;
    top: -25px;
}
/* Header menu */
nav {
	background: #282c37;
}
/* add .nav-justified, see: https://github.com/twbs/bootstrap/issues/18653 */
.nav-justified {
	width: 100%;
}
.nav-item {
	float: none;
	padding: 35px 0;
}
.nav-link{
	width: 100%;
	color: #ffffff;
	text-align: center;
}
a.nav-link:hover{
	color: #fff;
	text-decoration: underline;
}
li.nav-item:not(:last-of-type) a{
	border-right: .5px solid #fff;
}
@media (min-width: 768px) {
  .nav-item {
    display: table-cell;
    width: 1%;
  }
  .nav-link {
    margin-bottom: 0;
  }
} /*  DON'T KNOW*/
/* Header slider */
#carousel-example-generic > div > div > img{
	width: 100%;
}
/* Content bread crumbs */
.breadcrumb { 
	list-style: none; 
}
.breadcrumb li { 
	float: left; 
}
/* Content left block */
.panel a {
	color: #767676;
	text-transform: capitalize;
	font-size: 1.143rem;
	padding: 10px 0;
}
.panel a:hover, .panel a.active {
	color: #010101;
	text-decoration: none;
}
.panel ul {
	padding: 10px 0;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 25px;
}
.panel ul li > a{
	font-size: 1rem;
	text-transform: none;
}
.panel ul li > a.active{
	color: #010101;
	text-decoration: underline;
}
.price-list {
	margin-top: 75px;
}
.price-list img {
	padding-right: 15px;
}
.price-list a, .price-list a:hover{
	text-transform: capitalize;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.143rem;
	color: #282c37;
}
/* Content center block */
.card {
	text-align: center;
}
.card img.card-img-top{
	border-radius: 0 !important;
	width: 100%;
    padding: 15px 15px 0px 15px;
}
.card .card-block a, .card .card-block a:hover{
	color: #444444;
	font-size: 2rem;
	font-weight: bold;
	text-decoration: none;
}
.card .card-block:last-of-type {
	text-align: left;
	padding: 10px 1.25rem !important;
	border-top: 1px solid rgba(0,0,0,.125);
}
.card .card-block a > img {
	float: right;
	width: 30px;
	height: 25px;
	margin-top: 10px;
}
/* Content pagination */
.list-inline {
	text-align: center;
	padding: 20px 0;
}
.list-inline li {
	display: inline;
	padding: 0 10px;
}
.list-inline li > a{
	color: #767676;
}
.list-inline li:hover > a, .list-inline li.active > a {
	color: #444444;
	text-decoration: none;
	font-size:  1.286rem;
}
/* Content column */
article{
	-webkit-column-count:2;  
    -moz-column-count:2;  
    column-count:2; 
    padding-top: 45px;
    border-top: 1px solid black; 
}
@media screen and (max-width: 992px){

}